<h3>Satellite Counts:</h3>
<div class="counts" *ngIf="totalSat(satellites)">
  <div>Total: <span>{{totalsObject.total}}</span></div>
  <div>Space Debris: <span>{{totalsObject.debris}}</span></div>
  <div>Communication: <span>{{totalsObject.comms}}</span></div>
  <div>Probe: <span>{{totalsObject.probe}}</span></div>
  <div>Positioning: <span>{{totalsObject.position}}</span></div>
  <div>Space Station: <span>{{totalsObject.station}}</span></div>
  <div>Telescope: <span>{{totalsObject.tele}}</span></div>
</div>